---
layout: layout.njk
title: Blog de fabiansatoshi
showHeader: false
---

<h2>📝 Artículos del blog</h2>

<ul>
  {% for post in collections.post %}
    <li>
      <a href="{{ pathPrefix }}{{ post.url }}">{{ post.data.title }}</a> – <small>{{ post.date | date('dd/MM/yyyy') }}</small>
    </li>
  {% endfor %}
</ul>
